[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
pymysql = "*"
"ecade51" = {path = "/Users/sambriggs/Code/misc/wordpress-sqlalchemy", editable = true}
inflection = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
